.products {

    display: flex;
    flex-wrap: wrap;
    h1 {width: 100%;}
    .product {

        width: 300px;
        border: 1px solid #111;
        margin: 2px;
        padding: 5px;
        border-radius: 20px;
        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}