.products {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {width: 100%;}
    .product {

        width: 300px;
        margin: 5px;
        padding: 5px;
        border-radius: 20px;
        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}