@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url(variables.css);
@import url(global.css);

header {
    display: flex;
    justify-content: space-between;
}
.search {
    display: flex;
    input {
        flex: 1;
    }
}