header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .search {
        display: flex;
        flex: 1;
        padding: 0 20px;
        input {
            flex: 1;
        }
    }
    .buttons {
        display: flex;
    }
}