header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .search {
        display: flex;
        flex: 1;
        padding: 0 20px;
        input {
            flex: 1;
        }
    }
    .buttons {
        display: flex;
        .add-sale-icon {
            display: none;
        }
    }
    button {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    header .buttons .add-sale {
        display: none;
    }
    
    header .buttons .add-sale-icon {
        display: block;
    }
}