@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root, [data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
}
  
[data-theme='dark'] {
  --background: #111111;
  --foreground: #ededed;
}
body {
    background: var(--background);
    color: var(--foreground);
}
* {
    font-family: "JetBrains Mono", monospace;
}